<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nysit.stay.dao.StDao" >

	<select id="findStudentsByStIdNoPage" resultType="Student">
		select * from student_info where stid=#{stid} order by s_no desc
	</select>
	
	<select id="findStByid" resultType="SheTuan">
		select * from st where id=#{stid}
	</select>
	
	<update id="editStInfo">
		update st
		set text=#{text},sz=#{sz},des=#{des}
		where id=#{id}
	</update>

	<delete id="deleteStudentByStId">
		delete from student_info
		where stid=#{id}
	</delete>

	<delete id="deleteStInfo">
		delete from st
		where id in
		<foreach collection="sts" open="(" close=")" separator="," item="st">
			#{st.id}
		</foreach>
	</delete>

	<insert id="addStInfo">
		insert into st(text,sz,des)
		values(#{text},#{sz},#{des})
	</insert>

	<select id="findsts" resultType="SheTuan">
		select * from st
		limit #{startIndex},#{limitIndex}
	</select>

	<select id="getStCount" resultType="int">
		select count(*) from st
	</select>

	<update id="editStudent">
		update student_info
		set s_no=#{s_no},s_name=#{s_name},s_class=#{s_class},s_phone=#{s_phone},s_grade=#{s_grade}
		where id=#{id}
	</update>

	<delete id="deleteStudent">
		delete from student_info
		where id in
		<foreach collection="students" open="(" close=")" separator="," item="student">
			#{student.id}
		</foreach>
	</delete>
	
	<insert id="addStudent">
		insert into student_info(s_no,s_name,s_class,s_phone,s_grade,stid)
		values(#{s_no},#{s_name},#{s_class},#{s_phone},#{s_grade},#{stid})
	</insert>

 	<select id="findAllStName" resultType="SheTuan">
 		select * from st
 	</select>
 	<select id="findStudentsByStId" resultType="Student">
 		select * from student_info
 		where stid=#{stid}
 		order by s_no desc
 		limit #{startIndex},#{limitIndex}
 	</select>
 	<select id="getCount" resultType="int">
 		select count(*) from student_info
 		where stid=#{stid}
 	</select>
</mapper>