<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>  
    <title>大学生留校办理系统</title>
		<link rel="stylesheet" type="text/css" th:href="@{/static/themes/default/easyui.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/static/themes/icon.css}"></link>
		<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/js/jquery.easyui.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/locale/easyui-zh_CN.js}"></script>
	<script type="text/javascript">
		$(function(){
			$('#stayTable').datagrid({    
			    url:'/stay/authList',    
			    fitColumns:true,
			    border:false,
			    fit :true,
			    singleSelect:false,
			    idField: "id",
			    rownumbers: true,
			    pagination:true,
			    toolbar: '#toolbar'
			});
			
			
			$("#stayAdd").click(function(){
				$('#stayAddWin').window('open')
			});
			
			$("#addbtn").click(function(){
				$("#addStayForm").form("submit",{
					success:function(r){
					var r = eval('(' + r + ')');
						if(r.success){
							$.messager.alert("提示","添加成功","info",function(){
								$('#stayTable').datagrid('reload');
							});
						}else{
							$.messager.alert("提示","添加失败","warning");
						}
					}
				});
			});
			
			
			$("#clearAddbtn").click(function(){
				$("#addStayForm").form("clear");
			});
			
			$("#stayRemove").click(function(){
				var removeLine=$("#stayTable").datagrid("getSelections");
				if(removeLine.length==0){
					$.messager.alert("提示","请选择你要删除的行","warning");
				}else{
					var paramObj= {};
					var flag=true;
					$.each(removeLine,function(i,stayDom){
						if(stayDom.s_status != "待审核"){
							flag=false;
							return false;
						}
						paramObj["stays["+i+"].id"]=stayDom.id;
					});	
					if(flag==false){
						$.messager.alert("提示","审核中的信息不能删除","warning");
						return;
					}			
					$.messager.confirm('确认','您确认想要删除记录吗？',function(r){    
					    if (r){    
					        $.ajax({
								type:"post",
								dataType:"json",
								url:"/stay/deleteStayTicket",
								data:paramObj,
								beforeSend:function(){
									return true;
								},
								success:function(r){
									if(r.success){
										$.messager.alert("提示","删除成功","info",function(){
											$('#stayTable').datagrid('reload');
											$('#stayTable').datagrid('clearSelections');
										});
									}else{
										$.messager.alert("提示","删除失败","warning");
										$('#stayTable').datagrid('clearSelections');
									}
								}
							});   
					    }   
					}); 	
				}
			});
			
			
			$("#approvalProc").click(function(){
				var editLine=$("#stayTable").datagrid("getSelections");
				if(editLine.length==0){
					$.messager.alert("提示","请选择你要审批的行","warning");
				}else if(editLine.length>1){
					$.messager.alert("提示","只能审批一条信息","warning");
				}else{
					var row=editLine[0];		
					$('#appAuthForm').form('load',editLine[0]);
					$('#approvalProcWin').window('open'); //打开window
				}
			});
			
			
			$("#agreebtn").click(function(){
				$("#appAuthForm").form("submit",{
					success:function(r){
						var r=eval('('+r+')');
						if(r.success){
							$.messager.alert("提示","审批成功","info",function(){
								$('#stayTable').datagrid('reload');
								$('#approvalProcWin').window('close');
								$('#stayTable').datagrid('clearSelections');
							});
						}else{
							$.messager.alert("提示","审批失败","warning");
							$('#stayTable').datagrid('clearSelections');
						}
					}
				});   
			});
			
			
			$("#startProcess").click(function(){
				var startLine=$("#stayTable").datagrid("getSelections");
				if(startLine.length==0){
					$.messager.alert("提示","请选择你要申请的行","warning");
				}else if(startLine.length>1){
					$.messager.alert("提示","只能申请一条信息","warning");
				}else{
					var row=startLine[0];
					if(row.s_status != "待审核"){
						$.messager.alert("提示","只能申请待审核的信息","warning");
					}else{
						$.messager.confirm('确认','您确认想要申请这条记录吗？',function(r){    
					    if (r){
							$.ajax({
								url:"/stay/editStatus",
								type:"post",
								dataType:"json",
								data:{
									id:row.id
								},
								beforeSend:function(){
									return true;
								},
								success:function(r){
									if(r.success){
										$('#stayTable').datagrid('reload');
										$.messager.alert("提示","申请成功","info");
										$('#stayTable').datagrid('clearSelections');
									}else{
										$.messager.alert("提示","申请失败","warning");
										$('#stayTable').datagrid('clearSelections');
									}
								}
							});
						}
						
					});
				}
			}
		});
			$("#lookMonitorImg").click(function(){
				var Line=$("#stayTable").datagrid("getSelections");
				if(Line.length==0){
					$.messager.alert("提示","请选择你要查看的行","warning");
				}else if(Line.length>1){
					$.messager.alert("提示","只能查看一条信息","warning");
				}else{
					$('#lookMonitorImgWin').window('open'); 
					$("#procDefImg").attr("src","/proc/loadMonitorImg?id="+Line[0].piid);	
					$('#stayTable').datagrid('clearSelections');
				}
			});
			
			$("#unagreebtn").click(function(){
				$("#appStatus").val("驳回");
				$("#appAuthForm").form("submit",{
					success:function(r){
						var r=eval('('+r+')');
						if(r.success){
							$.messager.alert("提示","驳回成功","info",function(){
								$('#stayTable').datagrid('reload');
								$('#approvalProcWin').window('close');
								$('#stayTable').datagrid('clearSelections');
							});
						}else{
							$.messager.alert("提示","驳回失败","warning");
							$('#stayTable').datagrid('reload');
							$('#approvalProcWin').window('close');
							$('#stayTable').datagrid('clearSelections');
						}
					}
				});
			});
			
	});	 
	</script>
  </head>
  <body class="easyui-layout">
  	  <div data-options="region:'center',border:false"></div>
	 <table id="stayTable">   
	   <thead>   
	       <tr>
	           <th data-options="field:'id',hidden:'true'"></th>   
	           <th data-options="field:'taskid',hidden:'true'"></th>   
	           <th data-options="field:'piid',hidden:'true'"></th>   
	           <th data-options="field:'s_no',width:100">留校人学号</th>
	           <th data-options="field:'s_name',width:100">留校人</th>
	           <th data-options="field:'s_zdls',width:100">指导老师</th>
	           <th data-options="field:'s_reason',width:100">留校原因</th>   
	           <th data-options="field:'pdname',width:100">流程名称</th>   
	           <th data-options="field:'taskname',width:100">申请状态</th>   
	           <th data-options="field:'tasktime',width:100">接任时间</th>   
	           <th data-options="field:'username',width:100">申请社长</th>   
	           <th data-options="field:'createtime',width:100,align:'right'">申请时间</th>   
	       </tr>   
	   </thead>   
	</table>
	<div id="toolbar" style="background-color: #B3DFDA">
		  <a id="lookMonitorImg" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true">查看监控图</a>
		  <a id="approvalProc" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-redo',plain:true">审批</a>
	 </div>
	 
	 <div id="stayAddWin" class="easyui-window" title="添加申请单" 
	 			data-options="modal : true,
    						closed : true,
    						collapsible : false,
    						minimizable : false,
    						maximizable : false" style="width:400px;height:450px;">
    	<div class="easyui-panel" style="width:400px;height: 450px">
	    	 <form id="addStayForm" method="post" action="/stay/addStayTicket">
		    	<table cellpadding="5">
		    		<tr>
		    			<td>学号:</td>
		    			<td><input  class="easyui-validatebox textbox" type="text" name="s_no" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>姓名:</td>
		    			<td><input  class="easyui-validatebox textbox" type="text" name="s_name" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>班级:</td>
		    			<td><input  class="easyui-validatebox textbox" type="text" name="s_class" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>电话:</td>
		    			<td><input class="easyui-validatebox" type="text" name="s_phone" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>留校起始时间:</td>
		    			<td><input class="easyui-datetimebox" type="text" name="s_starttime" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>结束时间:</td>
		    			<td><input class="easyui-datetimebox" type="text" name="s_endtime" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>宿舍编号:</td>
		    			<td><input  class="easyui-validatebox" type="text" name="s_ssbh" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>留校原因:</td>
		    			<td><input  class="easyui-validatebox" type="text" name="s_reason" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>指导老师:</td>
		    			<td><input class="easyui-validatebox" type="text" name="s_zdls" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td><a id="addbtn" href="javascript:void(0)" class="easyui-linkbutton">添加</a></td>
		    			<td><a id="clearAddbtn" href="javascript:void(0)" class="easyui-linkbutton">清空</a></td>
		    		</tr>
		    	</table>
		    </form>
	    </div>
    </div>
    <div id="approvalProcWin" class="easyui-window" title="审批窗口" 
    			data-options="modal : true,
    						closed : true,
    						collapsible : false,
    						minimizable : false,
    						maximizable : false" style="width:400px;height:450px;">
    	<div class="easyui-panel" style="width:400px;height: 450px">
	    	 <form id="appAuthForm" method="post" action="/stay/appAuth">
	    	 	<input  type="text" name="id" hidden = "hidden"></input>
	    	 	<input  type="text" name="taskid" hidden = "hidden"></input>
	    	 	<input  type="text" name="piid" hidden = "hidden"></input>
	    	 	<input  type="text" name="taskname" hidden = "hidden"></input>	    	 	
	    	 	<input  id="appStatus" type="text" name="status" hidden = "hidden"></input>	    	 	
		    	<table cellpadding="5">
		    		<tr>
		    			<td>留校人学号:</td>
		    			<td><input  type="text" readonly="readonly" name="s_no" data-options="required:true,disabled:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>留校人:</td>
		    			<td><input   type="text" readonly="readonly" name="s_name" data-options="required:true,disabled:true"></input></td>
		    		</tr>

		    		<tr>
		    			<td>留校原因:</td>
		    			<td><input  type="text" readonly="readonly" name="s_reason" data-options="required:true"></input></td>
		    		</tr>
		    		<tr>
		    			<td>审批备注:</td>
		    			<td><textarea rows="3" cols="20" name="sp_remark"></textarea> </td>
		    		</tr>
					
		    		<tr>
		    			<td><a id="agreebtn" href="javascript:void(0)" class="easyui-linkbutton">同意</a></td>
		    			<td><a id="unagreebtn" href="javascript:void(0)" class="easyui-linkbutton">驳回</a></td>
		    		</tr>
		    	</table>
		    </form>
	    </div>
    </div>
    <div id="lookMonitorImgWin" class="easyui-window" title="查看监控图" 
    			data-options="modal : true,
    						closed : true,
    						collapsible : false,
    						minimizable : false,
    						maximizable : false" style="width:600px;height:400px;">
    	<img  id="procDefImg" src="/static/image/loading.gif">
    </div>
  </body>
</html>
