<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>  
    <title>大学生留校办理系统</title>
		<link rel="stylesheet" type="text/css" th:href="@{/static/themes/default/easyui.css}"></link>
		<link rel="stylesheet" type="text/css" th:href="@{/static/themes/icon.css}"></link>
		<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/js/jquery.easyui.min.js}"></script>
		<script type="text/javascript" th:src="@{/static/locale/easyui-zh_CN.js}"></script>
	<script type="text/javascript">
		$(function(){
			$('#stayTable').datagrid({    
			    url:'/stay/splsList',    
			    fitColumns:true,
			    border:false,
			    fit :true,
			    singleSelect:false,
			    idField: "id",
			    rownumbers: true,
			    pagination:true,
			});			
	});	 
	</script>
  </head>
  <body class="easyui-layout">
  	  <div data-options="region:'center',border:false"></div>
	 <table id="stayTable">   
	   <thead>   
	       <tr>
	           <th data-options="field:'id',hidden:'true'"></th>   
	           <th data-options="field:'s_no',width:100">学号</th>   
	           <th data-options="field:'s_name',width:100">姓名</th>   
	           <th data-options="field:'s_reason',width:100">留校原因</th>   
	           <th data-options="field:'sp_remark',width:100">审批备注</th>   
	           <th data-options="field:'sp_status',width:100">审批状态</th>   
	           <th data-options="field:'createtime',width:100,align:'right'">审批时间</th>   
	       </tr>   
	   </thead>   
	</table>
  </body>
</html>
